.banner {
    background: url('../assets/banner.jpg') no-repeat center center/cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 1440;
    height: 311;
    top: 98px;
}

.banner h1 {
    font-family: Oswald;
    font-weight: 600;
    font-size: 75px;
    line-height: 100%;
    letter-spacing: 3px; 
    text-transform: uppercase;
    text-shadow: 4px 3px 0px rgba(128, 0, 32, 1);
}


.banner p {
    font-family: Kelly Slab;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    
}